/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, footer {
    display: flex;
    align-items: center;
    height: 50px;
}
header {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3A3A3A;
    color: #DBDBDB;
    box-shadow: 1px 1px 3px 2px #dfd5d5;
}

header>button{
    margin-left: auto;
    font-size: 20px;
    border-radius: 8px;
    background-color: #0071E3;
    color: white;
    border: 2px solid #0071E3;
}

#generator:hover{
    background-color: white;
    color: #0071E3;
    border: 2px solid #0071E3;
}

main {
    flex-grow: 1;
}
#movies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    width: 1000px;
    flex-wrap: wrap;
    padding: 10px
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
    width: 315px;
    height: 275px;
    margin: 5px;
    border-radius: 7px;
    border: 3px solid #000;
}
footer {
    justify-content: center;
    color: #DBDBDB
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.col-1 * {
    margin-bottom: 14px;
}

img {
    max-height: 200px;
}

/* #poster {
    object-fit: cover;
} */
